scale = 2;


menusheet   = ./res/img/start-end-tiles.png;
playersheet = ./res/img/bunny-left.png;
gamesheet   = ./res/img/game-tiles.png;

playBounds     = { 114,  47, 115,  46 };
playerBounds   = {   0,   0,  62,  60 };
platformBounds = {   1,   1,  58,  16 };
gameOverBounds = {   0, 101, 215,  77 };