#include "/logistics/splitter.config"

group temp1 {
    spritesheet = ./res/img/test_sprite_sheet.png;
}

//testing two different spritesheets
group temp2 {
    spritesheet = ./res/img/test_sprite_sheet.png;
}

//default group
scale = 4;
gridBounds = { 0, 0, 88, 88 };

spritesheet = ./res/img/test_sprite_sheet.png;
BOUNDS = { 0, 89, 43, 43 };

/*
Foundations {}

Organization {}

Walls {}

Vehicles {}
*/